*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
    
}



nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    
   
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 25px 40px;
}
.logo img{
    width: 100%;
    border-radius: 50px;
}



.nav-links{
    margin-right: 40px;
}

.nav-links li{
    display: inline-block;
    margin-left: 40px;
    list-style: none;
    
}

.nav-links li a{
    text-decoration: none;
    color: #f9629f;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-links li a:hover{
    background-color: #f9629f;
    color: #fff;
    border-radius: 5px;
}

.nav-links li a.active{
    background-color: #f9629f;
    color: #fff;
    border-radius: 5px;
}

section{
    
    background-color: #faf9f6;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.content h1{
    color: #d00456;
    font-size: 3rem;
}
.content p{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.bio-container{
    padding: 60px 80px;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.bio-info{
    flex: 1 1 45rem;
}
.bio-image{
    flex: 1 1 35rem;
}

.bio-image image{
    width: 100%;
}
.bio-info h1{
    font-size: 3rem;
    color: #f9629f;
    font-weight: 600;

}
.bio-info p{
    margin-top: 10px;
    line-height: 1.5;
    color: #818589;
}

footer{
    padding: 60px 8%;
    background-color: #252424;
}
.quick-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.socials ul{
    display: flex;
    list-style: none;
}
.socials li a{
    text-decoration: none;
    color: #f9629f;
    font-size: 2rem;
    padding: 15px;
    transition: all 0.3s ease;
}

.socials li a:hover{
    transform: scale(1.02);
}

.contact-info ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.contact-info ul li{
    padding: 15px;
    color: white;
}
.contact-info ul li i{
    margin-right: 5px;
    color: #f9629f;
    font-size: 1.8rem;
}

iframe{
    width: 350px;
    height: 200px;
}




.hero{
    background:rgba(0, 0, 0, 0.9) url("./images/backg-image.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    backdrop-filter: blur(20px);
}

.about {

    padding: 110px 12%;
    background-color: transparent;
    
}

.heading{
    margin-top: 190px;
    text-align: center;
    color: #d2c0c9;
    font-size: 3rem;
    font-weight: 600;
    position: relative;
}

.heading::after{
    content: "";
    height: 3px;
    width: 40%;
    background-color: #d00456;
    position: absolute;
    left: 350px;
    bottom: -5px;
    box-shadow: 0 2px 2px rgba(255, 3, 87, 0.4);
}

.about p{
    margin-top: 15px;
    text-align: center;
    color: #d2d3d3;
    font-size: 1.5rem;
}

.skills{
    padding: 80px 12%;
    background-color: #faf9f6;
}
.skills h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #f9629f;

}
.skills h2 i{
    padding-right: 5px;
    color: #d00456;
}

.skills-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
}

.skills-content{
    flex: 1 1 45rem;
}
.skills-image{
    flex: 1 1 45rem;
}
.skills-image img{
    width: 100%;
}

.skills-content p{
    font-size: 1.3rem;
    line-height: 1.5;
    color: #444242;
}
.skills-content ul{
    margin-top: 15px;
}
.skills-content li{
    list-style: none;
    font-size: 1.2rem;
    color: #f9629f;
    line-height: 1.5;
}

.skills-content span{
    padding-left: 12px;
}

.skills-content li i{
    color: #d00456;
    font-size: 1.7rem;
}
.connect{
    margin-top: 50px;
}
.connect p{
    font-size: 1.2rem;
    color: #444242;
    text-align: center;
    margin-top: 15px;
}

.contact-container{
    width: 100%;
    height: 100vh;
    background: rgba(15, 15, 15, 0.8);
}
.contact-section{
    padding: 110px 12%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.wrap{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}

.contact-section h1{
    font-size: 3rem;
    color: #f9629f;
    margin-bottom: 20px;
}

.contact-section .row{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contact-section .row .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

.contact-section .row .col .input-box{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

.contact-section .row .col .input-box input,.contact-section .row .col .input-box textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0 10px;
    z-index: 1;
    color: #aca7a7;
}

.contact-section .row .col .input-box .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.contact-section .row .col .input-box input:focus + .text,
.contact-section .row .col .input-box input:valid + .text,
.contact-section .row .col .input-box textarea:focus + .text,
.contact-section .row .col .input-box textarea:valid + .text
{

    top: -35px;
    left: -10px;

}
.contact-section .row .col .input-box .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #d00456;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.contact-section .row .col .input-box input:focus ~.line,
.contact-section .row .col .input-box input:valid ~.line{
    height: 100%;
}

.contact-section .row .col .input-box .textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.contact-section .row .col .input-box textarea:focus~.line,
.contact-section .row .col .input-box textarea:valid~.line {
    height: 100%;
}
.contact-section .row .col input[type="submit"]{
    border: none;
    outline: none;
    padding: 10px 40px;
    cursor: pointer;
    background: #d00456;
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 5px;
}

.projects{
    margin-top: 80px;  
}
.projects-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
    align-items: center;
}
.box{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6), -3px -3px 3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.box:hover{
    transform: scale(1.02);
}
.box img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box p{
    padding: 7px;
    color: #444242;
    line-height: 1.5;
    font-size: 1rem;
}
.project-links{
    text-align: center;
    padding-bottom: 8px;
    font-size: 2rem;
}
.project-links a i{
    padding: 5px;
    color: #d00456;
    cursor: pointer;
    transition: all 0.4s ease;
}
.project-links a i:hover{
    color: #f9629f;
}